{
    "extends": "google",
    "rules": {
      "func-names": ["error", "never"]
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "env": {
      "browser": true
    }
  }