.section {
    display: block;
    margin-bottom: $section-margin-bottom;

    .section__header {
        font-size: $section__header-font-size;
    }

    .section__line {
        margin: 5px 0 10px 0;
    }

    .section__subheader {
        margin: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
        padding-left: 0;
        font-size: $section__subheader-font-size;
        border-top-width: 1px;
        color: $section__subheader_color;
        border-color: $section__subheader_border-color;
    }
}