// Base
$font-size-base: 14px;
$font-family-base: Arial, Helvetica, sans-serif;

// Page
$page-width: 960px;
$page-padding: 60px 15px;

// Section
$section-margin-bottom: 50px;
$section__header-font-size: 15px;

$section__subheader-font-size: 13px;
$section__subheader_color: rgb(36, 36, 36);
$section__subheader_border-width: 1px;
$section__subheader_border-color: white;

$section__line-margin-bottom: 10px;
$section__line-margin-top: 5px;

// Hobby form
$hobby-form__anim-duration: 200ms;

$hobby-form__input-width: 200px;
$hobby-form__input-border-color: lightgray;

$hobby-form__btn-color: rgb(70, 69, 69);
