// Base
$font-size-base: 14px;
$font-size-small: 13px;
$font-family-base: Arial, Helvetica, sans-serif;

// Colors
$color-green: green;
$color-orange: #fba56d;

// Page
$page-width: 960px;

// Section
$section-margin-bottom: 50px;
$section__header-font-size: 15px;

$section__subheader-font-size: 13px;
$section__subheader_color: rgb(36, 36, 36);
$section__subheader_border-color: white;

// Hobby form
$hobby-form-width: 340px;
$hobby-form__input-width: 220px;
$hobby-form__input-border-color: lightgray;

$hobby-form__btn-color: rgb(70, 69, 69);

// Hobby List
$hobby-list-width: 340px;
$hobby-list__icon-size: 10px;
$hobby-list__item-color: $color-green;
$hobby-list__footer-color: $color-orange;

// Media queries
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
