@import '~@styles/variables.scss';
@import '~@styles/mixins.scss';

:host {
    all: initial;
    display: block;
    contain: content;
    font-family: $font-family-base;
    font-size: $font-size-base;
}

:host .hobby-list__content {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &.hobby-list__content--loading {
        &::after {
            content: 'Загрузка...';
            position: absolute;
            top: 0;
            left: 0;
            color: $hobby-list-loading-color;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
        }
    }
}

:host .hobby-list__icon {
    @include size($hobby-list__icon-size, $hobby-list__icon-size);
    margin-right: $hobby-list__icon-size / 2;
    display: inline-block;
}

:host .hobby-list__item {
    font-size: $font-size-small;
    color: $hobby-list__item-color;
    line-height: 25px;
    opacity: 1;
    
    &:hover {
        @include hightlight;
    }

    &.hobby-list__item--removed {
        animation: disappearing .3s 
            cubic-bezier(.55,-0.04,.91,.94) forwards;
    }

    &.hobby-list__item--inserted {
        animation: 
            appearing 0.5s 0s cubic-bezier(0,.8,.32,1.07) forwards;
    }
}

@keyframes disappearing {
    from {
        height: 25px;
        opacity: 1;
    }
 
    to {
        height: 0px;
        opacity: 0;
    }
}
 
@keyframes appearing {
    from {
        height: 0px;
        opacity: 0;
    }
 
    to {
        height: 25px;
        opacity: 1;
    }
}


:host .hobby-list--own {
    .hobby-list__item {
        &:hover {
            .hobby-list__icon {
                @include icon('close', $hobby-list__icon-size);
            }
        }
    }
}

:host .hobby-list--friend {
    .hobby-list__item {
        &:not(.hobby-list__item--selected) {
            &:hover {
                .hobby-list__icon {
                    @include icon('close', $hobby-list__icon-size, 45deg);
                }
            }
        }

        &.hobby-list__item--selected {
            .hobby-list__icon {
                @include icon('ok', $hobby-list__icon-size, 0deg);
            }
        }
    }
}

:host .hobby-list__footer {
    font-size: $font-size-small;
    line-height: 25px;
    opacity: 1;
    transition: opacity 200ms ease-in;

    &:not(.hobby-list__handler--empty) {
        color: $hobby-list__footer-color;
        &:hover {
            @include hightlight;
        }
    }

    &[hidden] {
        opacity: 0;
        display: inline-block;
    }
}
