@import '~@styles/variables.scss';
@import '~@styles/mixins.scss';

:host {
    all: initial;
    display: block;
    contain: content;
    font-family: $font-family-base;
    font-size: $font-size-base;
}
:host .hobby-list {
    width: $hobby-list-width;
}

:host .hobby-list__content {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:host .hobby-list__icon {
    width: $hobby-list__icon-size;
    margin-right: $hobby-list__icon-size / 2;
}

:host .hobby-list__item {
    font-size: $font-size-small;
    display: flex;
    align-items: center;
    color: $hobby-list__item-color;
    line-height: 25px;
    opacity: 1;
    
    &:hover {
        @include hightlight;
    }

    &.hobby-list__item--removed {
        animation: list-item-removed-animation .6s 
            cubic-bezier(.55,-0.04,.91,.94) forwards;
    }

    &.hobby-list__item--inserted {
        animation: 
            appearing 0.5s 0s cubic-bezier(0,.8,.32,1.07) forwards;
    }
}

@keyframes disappearing {
    from {
        height: 25px;
        opacity: 1;
    }
 
    to {
        height: 0px;
        opacity: 0;
    }
}
 
@keyframes appearing {
    from {
        height: 0px;
        opacity: 0;
    }
 
    to {
        height: 25px;
        opacity: 1;
    }
}


:host .hobby-list--own {
    .hobby-list__item {
        &:hover {
            .hobby-list__icon {
                @include icon('close', $hobby-list__icon-size);
            }
        }
    }
}

// :host .hobby-list--friend {
//     .hobby-list__item {
//         &:not(.hobby-list__item--selected) {
//             &:hover {
//                 .hobby-list__icon {
//                     @include icon('close', $hobby-list-icon-size, 45deg);
//                 }
//             }
//         }

//         &.hobby-list__item--selected {
//             .hobby-list__icon {
//                 @include icon('ok', $hobby-list-icon-size, 0deg);
//             }

//             opacity: 0;
//             transition-property: opacity;
//             transition-duration: $hobby-list-item-duration;
//         }
//     }
// }

:host .hobby-list__footer {
    font-size: $font-size-small;
    line-height: 25px;
    opacity: 1;
    transition: opacity 200ms ease-in;

    &:not(.hobby-list__handler--empty) {
        color: $hobby-list__footer-color;
        &:hover {
            @include hightlight;
        }
    }

    &[hidden] {
        opacity: 0;
        display: inline-block;
    }
}
